/* ==============================
   MODERN MINIMAL WALL CLOCK
   ============================== */

.wall-clock {
  width: 300px;
  height: 300px;

  border-radius: 50%;
  background: #ffffff;

  border: 6px solid #222;

  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;
}


/* ==============================
   CLOCK FACE
   ============================== */

.clock-face {
  width: 100%;
  height: 100%;

  border-radius: 50%;

  position: relative;
}


/* ==============================
   MINUTE MARKS
   ============================== */

.minute-mark {
  position: absolute;

  width: 1px;
  height: 5px;

  left: 50%;
  top: 4px;

  background: #777;

  transform-origin: 50% 146px;

  border-radius: 2px;
}


/* Every 5 minutes */

.hour-mark {
  width: 3px;
  height:3px;

  background: #222;

  border-radius: 2px;
}


/* ==============================
   NUMBERS
   ============================== */

.clock-number {
  position: absolute;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 19px;
  font-weight: 500;

  color: #222;

  z-index: 2;
}


/* 12 */

.number-12 {
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
}


/* 1 */

.number-1 {
  top: 9%;
  right: 23%;
}


/* 2 */

.number-2 {
  top: 25%;
  right: 8%;
}


/* 3 */

.number-3 {
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}


/* 4 */

.number-4 {
  bottom: 25%;
  right: 8%;
}


/* 5 */

.number-5 {
  bottom: 9%;
  right: 23%;
}


/* 6 */

.number-6 {
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
}


/* 7 */

.number-7 {
  bottom: 9%;
  left: 23%;
}


/* 8 */

.number-8 {
  bottom: 25%;
  left: 8%;
}


/* 9 */

.number-9 {
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}


/* 10 */

.number-10 {
  top: 25%;
  left: 8%;
}


/* 11 */

.number-11 {
  top: 9%;
  left: 23%;
}


/* ==============================
   CLOCK HANDS
   ============================== */

.hour-hand,
.minute-hand,
.second-hand {
  position: absolute;

  left: 50%;
  bottom: 50%;

  transform-origin: bottom center;

  border-radius: 20px;
}


/* Hour */

.hour-hand {
  width: 7px;
  height: 62px;

  margin-left: -3.5px;

  background: #222;

  z-index: 5;
}


/* Minute */

.minute-hand {
  width: 5px;
  height: 88px;

  margin-left: -2.5px;

  background: #222;

  z-index: 5;
}


/* Second */

.second-hand {
  width: 2px;
  height: 105px;

  margin-left: -1px;

  background: #d33;

  z-index: 6;

 transition: none;
}


/* ==============================
   CENTER
   ============================== */

.center-pin {
  position: absolute;

  width: 13px;
  height: 13px;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background: #222;

  border-radius: 50%;

  z-index: 10;
}
